* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-flex {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

[class*="fa-angle"] {
   margin: 0 30px;
  font-size: 50px;
  cursor: pointer;
  }

.container-flex .img-wrapper {
    width: 70%;
    height: 70vh;
    border: 1px solid black;
    position: relative;
    box-shadow: 1px 1px 20px 4px #000;
}
.container-flex .img-wrapper img {
    width: 100%;
    height: 100%;
    display: none;
}

.container-flex .img-wrapper img.active {
    display: block;
   
}

.container-flex .img-wrapper .img-nav {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.container-flex .img-wrapper .img-nav i {
    font-size: 20px;
    color: white;
}

.container-flex .img-wrapper .img-nav i.active {
    color: blue;
}